/* Space out content a bit */
/*body {*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
    /*background-color: #E5E5E5;*/

/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
/*.marketing,*/
/*.footer {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/*     CSS reset    */

body {
    font-family: 'Open Sans', sans-serif;;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
   background-color: #EE352A;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    min-height: 100px;
    color: #FEF9C4;
    margin-bottom: 40px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
  background-color: #FEF9C4;
  min-height: 100px;
    border-bottom: 30px #EE352A solid;
}
.footer p {
    margin-top: 30px;
    margin-left: 20px;
}

.container {
    width:100%;
    padding-left: 0 ;
    padding-right: 0;
}
#siteTitle {
    margin-top: 50px;
    margin-left: 100px;
    color: #FEF9C4;
}
.nav {
    margin-top: 50px;

}

.navlinks a {
    color: #FEF9C4;
}

.navlinks a:hover {
    color:#EE352A;
    background-color: #FEF9C4;
    font-weight: bold;
}

/*.active a {*/
    /*background-color: #FEF9C4;*/
    /*color:#EE352A;*/
/*}*/
#welcomeDiv {
    width:100%;
    background-color: white;
    color: #EE352A;
    margin-bottom: 100px;
}


#innerWelcome {
    margin-left: auto ;
    margin-right: auto;
    max-width: 350px;
}
#innerWelcome h1 {
    font-size: 500%;
    /*text-transform:uppercase;*/
}
#innerWelcome p {
    padding-left: 16px;
}
.middlemarketing {
    border-top: 2px #EE352A solid;
    max-width: 80%;
    margin:auto;
    padding-top: 25px;
}

.taglines {
    padding: 5px;
    margin-bottom: 50px;

}
.taglines p , h2{
    max-width: 350px;
    margin-left: 20%;

}
.taglines h2{
    color: #EE352A;
    margin-bottom: 20px;
    /*text-transform:uppercase;*/
}
  /*

  *********  login and signup styles **************

  */
.loginBox {
    max-width: 400px;
    margin: 0 auto;
}
.loginBox button {
    background-color: #EE352A;
    border:none;
}

.notRegisteredtext {
    margin-left: 20px;
}
.notRegisteredtext a {
    color:gray;

}
.signupBox {
    max-width: 400px;
    margin: 0 auto;

}
.signupBox button {
    background-color: #EE352A;
    border:none;
}
.signupBox button:hover {
    background-color: #ee6962;
    border:none;
}
.hasAccount a {
    color:gray;
}
.hasAccount {
    margin-left: 20px;
}

.formLabels {
    text-align: left;
}

/*

        ******************** SEARCH PAGE STYLES ***************************

*/
.mainpic {
    float: left;
    max-width: 340px;
    max-height: 400px;
}
.searchContainer {
    width: 90%;
    margin: 0 auto;
}

.redBtn {
    background-color: #EE352A;
    border:none;
}
.redBtn:hover {
    background-color: #ee6962;

}
.addHeading {
    color:#EE352A ;
}
#listingcontainer {
    margin-top: 15px;

}
#searchbox {
    max-width: 300px;
    margin: auto;
    padding-left: 15px;
}


/* styles for listings from bootsnip*/

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}

/* end bootsnip styles for listings*/





/*
            modal css

*/
.popupimage {
    max-height: 80%;
    width:100%;
}

.favmodal {
    background-color: #4585ff;
    width:300px;
    height: 300px;
    float: right;

}
.mainmodal {
    /*width:700px;*/
}
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    /*&.ng-enter {*/
         /*opacity: 0;*/
    /*&.ng-enter-active {*/
         /*opacity: .5;*/
     /*}*/
    /*}*/
    /*&.ng-leave {*/
         /*opacity: .5;*/
    /*&.ng-leave-active {*/
         /*opacity: 0;*/
        /*}*/
    /*}*/
}







/*

        ********************** DASHBOARD STYLES **********************

*/

.submitbutton {
    margin-bottom: 50px;
}




/* cloudinary styles  */

.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
    font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
    font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.photo { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.inline { display: inline-block; }
td { vertical-align: top; padding-right: 5px; }

#backend_upload, #direct_upload { padding: 20px 20px; margin: 20px 0;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#backend_upload h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

form {  margin: 15px 0;  border-radius: 4px; }  /*border: 1px solid #ddd;  padding: 15px 0;*/
form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding-top: 3px; text-align: right; }
form .error { color: #c55; margin: 0 10px; }

#direct_upload { border: 4px dashed #ccc; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }

.upload_button_holder {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.upload_button_holder .upload_button {
    min-height: 30px;
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder:hover .upload_button {
    background-color: rgb(17, 133, 240);
}

.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
    width: 100px;
    position: relative;
    height: 4px;
}
.progress-bar .progress {
    height: 6px;
    background-color: #ff0000;
    width: 0%;
}


/*end my cloudinary styles*/




/* Customize container */
/*@media (min-width: 768px) {*/
  /*.container {*/
    /*max-width: 100%;  *//* was 730px*/
  /*}*/
/*}*/
/*.container-narrow > hr {*/
  /*margin: 30px 0;*/
/*}*/

/* Main marketing message and sign up button      ORIGINAL STYLES*/
/*.jumbotron {*/
  /*text-align: center;*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/*.jumbotron .btn {*/
  /*font-size: 21px;*/
  /*padding: 14px 24px;*/
/*}*/

/* Supporting marketing content */
/*.marketing {*/
  /*margin: 40px 0;*/
/*}*/
/*.marketing p + h4 {*/
  /*margin-top: 28px;*/
/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier */
  /*.header,*/
  /*.marketing,*/
  /*.footer {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  /*}*/
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {*/
    /*border-bottom: 0;*/
  /*}*/
/*}*/





.property-listing {   /* custom by me*/
 max-width: 600px;
    box-sizing: border-box;
    background-color: #DBDBDB;
    margin: auto;

}



#formContainer {
    max-width: 500px;
    margin:0 auto;
}
#submitbutton {
    /*margin: 10px 0 0 10px;*/
}
#postFormTitle {
    margin-left: 40px;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
    .mainpic {
        float: left;
        max-width: 500px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .mainpic {
        max-width: 250px;
        max-height: 300px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}


